In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("analyze.csv")

In [7]:
data.head(2)

,Date of Birth,What is your current profession?,What is the year of completion of your Highest Education Qualification?,Which of the following best describes you?,Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.,"In case your certification institute is ""Innomatics Research Labs"", please provide your Enrolled Batch Number.",Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.,What do you think are most important skill right now for a skilled Data Scientist?
0,9/16/2000,Fresher (I have completed my Education and loo...,7/30/2023,I am currently enrolled in a Data Science cert...,Innomatics Research Labs,251,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
1,2/6/1998,Fresher (I have completed my Education and loo...,5/18/2022,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw data

In [9]:
data.shape

(1000, 8)

In [13]:
data.describe(include='object').T

,count,unique,top,freq
Date of Birth,1000,826,11/24/2001,4
What is your current profession?,1000,4,Student (I am currently enrolled in some Educa...,488
What is the year of completion of your Highest Education Qualification?,1000,553,5/15/2024,19
Which of the following best describes you?,1000,3,I am currently enrolled in a Data Science cert...,405
Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.,678,365,Innomatics Research Labs,109
"In case your certification institute is ""Innomatics Research Labs"", please provide your Enrolled Batch Number.",338,139,Na,16
Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.,1000,2,6:00 to 7:00 PM IST,672
What do you think are most important skill right now for a skilled Data Scientist?,1000,60,Extracting actionable insights from the raw da...,214

In [15]:
data.describe()

,Date of Birth,What is your current profession?,What is the year of completion of your Highest Education Qualification?,Which of the following best describes you?,Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.,"In case your certification institute is ""Innomatics Research Labs"", please provide your Enrolled Batch Number.",Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.,What do you think are most important skill right now for a skilled Data Scientist?
count,1000,1000,1000,1000,678,338,1000,1000
unique,826,4,553,3,365,139,2,60
top,11/24/2001,Student (I am currently enrolled in some Educa...,5/15/2024,I am currently enrolled in a Data Science cert...,Innomatics Research Labs,Na,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
freq,4,488,19,405,109,16,672,214

In [19]:
data.columns

Index(['Date of Birth', 'What is your current profession?',
       'What is the year of completion of your Highest Education Qualification?',
       'Which of the following best describes you?',
       'Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.',
       'In case your certification institute is "Innomatics Research Labs", please provide your Enrolled Batch Number.',
       'Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.',
       'What do you think are most important skill right now for a skilled Data Scientist?'],
      dtype='object')

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                               --------------  -----
 0   Date of Birth                                                                                                                        1000 non-null   object
 1   What is your current profession?                                                                                                     1000 non-null   object
 2   What is the year of completion of your Highest Education Qualification?                                                              1000 non-null   object
 3   Which of the following best describes you?                                                                                           1000 non-null   object
 4   Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.  678 non-null    object
 5   In case your certification institute is "Innomatics Research Labs", please provide your Enrolled Batch Number.                       338 non-null    object
 6   Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.    1000 non-null   object
 7   What do you think are most important skill right now for a skilled Data Scientist?                                                   1000 non-null   object
dtypes: object(8)
memory usage: 62.6+ KB

In [21]:
data["What is your current profession?"].max()

'Working Professional (I have completed my Education and working full time)'

In [27]:
data["Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship."].max()

'6:00 to 7:00 PM IST'

In [29]:
data["Date of Birth"].max()

'9/9/2001'

In [43]:
data["Date of Birth"] = pd.to_datetime(data["Date of Birth"]).dt.year.astype(int)

In [56]:
print(data["Date of Birth"].dtype)

int32

In [58]:
data["Date of Birth"] = pd.to_datetime(data["Date of Birth"], errors='coerce')
print(data["Date of Birth"].dtype)  # Check if conversion was successful

datetime64[ns]

In [60]:
data = data.dropna(subset=["Date of Birth"])

In [62]:
current_year = pd.Timestamp.today().year
data["Age"] = current_year - data["Date of Birth"].dt.year

In [64]:
median_age = data["Age"].median()
print("Median Age of Working Professionals:", median_age)

Median Age of Working Professionals: 55.0

In [66]:
freelancers = data[data["What is your current profession?"].str.contains("freelance", case=False, na=False)]

In [68]:
max_age = freelancers["Age"].max()
print("Maximum Age of a Freelancer:", max_age)

Maximum Age of a Freelancer: 55

In [100]:
data["Day of Week"] = data["Date of Birth"].dt.day_name()

In [104]:
interns = data[data["Which of the following best describes you?"].str.contains("intern", case=False, na=False)]

In [160]:
sunday_count = (data["Day of Week"] == "Sunday").sum()
print("Number of interns born on a Sunday:", sunday_count)

Number of interns born on a Sunday: 0

In [114]:
current_year = pd.Timestamp.today().year
data["Age"] = current_year - data["Date of Birth"].dt.year

In [112]:
innomatics_interns = data[
    data["Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course."]
    .str.contains("Innomatics Research Labs", case=False, na=False)
]

In [116]:
min_age = innomatics_interns["Age"].min()
print("Minimum age of an intern at Innomatics Research Labs:", min_age)

Minimum age of an intern at Innomatics Research Labs: 55

In [118]:
interns = data[data["Which of the following best describes you?"].str.contains("intern", case=False, na=False)]

In [126]:
data["Which of the following best describes you?"].unique()

array(['I am currently enrolled in a Data Science certification course',
       'I have never enrolled in any certification courses',
       'I have completed a Data Science certification course'],
      dtype=object)

In [128]:
data["Which of the following best describes you?"].value_counts()

Which of the following best describes you?
I am currently enrolled in a Data Science certification course    405
I have never enrolled in any certification courses                302
I have completed a Data Science certification course              293
Name: count, dtype: int64

For interns who never enrolled in a data science certification course, what is the current profession of the majority of them?

In [134]:
never_enrolled = data[
    data["Which of the following best describes you?"] == "I have never enrolled in any certification courses"
]

In [132]:
most_common_profession = never_enrolled["What is your current profession?"].mode()[0]
print("The most common profession among interns who never enrolled in a Data Science certification course:", most_common_profession)

The most common profession among interns who never enrolled in a Data Science certification course: Student (I am currently enrolled in some Educational Program)

In [136]:
data["What do you think are most important skill right now for a skilled Data Scientist?"].value_counts()

What do you think are most important skill right now for a skilled Data Scientist?
Extracting actionable insights from the raw data, Data Modelling, LLMs, MLOps, Basics of backend application development using python, Prompt Engineering    214
Extracting actionable insights from the raw data, Data Modelling, MLOps                                                                                       73
Extracting actionable insights from the raw data, Data Modelling                                                                                              70
Extracting actionable insights from the raw data, Data Modelling, LLMs, MLOps                                                                                 66
Extracting actionable insights from the raw data, Data Modelling, Basics of backend application development using python                                      59
Extracting actionable insights from the raw data, Data Modelling, MLOps, Basics of backend application development using python                               51
Extracting actionable insights from the raw data, Data Modelling, LLMs, MLOps, Basics of backend application development using python                         42
Extracting actionable insights from the raw data                                                                                                              41
Extracting actionable insights from the raw data, Data Modelling, LLMs, MLOps, Prompt Engineering                                                             31
Extracting actionable insights from the raw data, Data Modelling, LLMs                                                                                        31
Extracting actionable insights from the raw data, Data Modelling, Basics of backend application development using python, Prompt Engineering                  27
Extracting actionable insights from the raw data, Data Modelling, LLMs, Basics of backend application development using python                                25
Extracting actionable insights from the raw data, Data Modelling, Prompt Engineering                                                                          25
Basics of backend application development using python                                                                                                        20
Extracting actionable insights from the raw data, Data Modelling, LLMs, Prompt Engineering                                                                    18
Extracting actionable insights from the raw data, Data Modelling, MLOps, Prompt Engineering                                                                   14
Data Modelling                                                                                                                                                14
Extracting actionable insights from the raw data, Data Modelling, LLMs, Basics of backend application development using python, Prompt Engineering            13
LLMs, MLOps, Prompt Engineering                                                                                                                               10
Extracting actionable insights from the raw data, LLMs, MLOps                                                                                                 10
Data Modelling, LLMs, MLOps                                                                                                                                    9
Extracting actionable insights from the raw data, Basics of backend application development using python                                                       8
MLOps                                                                                                                                                          8
Data Modelling, MLOps, Basics of backend application development using python                                                                                  7
Prompt Engineering                                                                                                                                             7
Extracting actionable insights from the raw data, LLMs, MLOps, Prompt Engineering                                                                              6
Extracting actionable insights from the raw data, MLOps                                                                                                        6
Extracting actionable insights from the raw data, Data Modelling, MLOps, Basics of backend application development using python, Prompt Engineering            6
Data Modelling, LLMs, MLOps, Prompt Engineering                                                                                                                6
LLMs, MLOps                                                                                                                                                    5
Basics of backend application development using python, Prompt Engineering                                                                                     5
Extracting actionable insights from the raw data, Basics of backend application development using python, Prompt Engineering                                   5
Extracting actionable insights from the raw data, LLMs, MLOps, Basics of backend application development using python                                          5
Extracting actionable insights from the raw data, LLMs, Prompt Engineering                                                                                     5
Data Modelling, Basics of backend application development using python                                                                                         4
LLMs                                                                                                                                                           4
Data Modelling, LLMs, MLOps, Basics of backend application development using python, Prompt Engineering                                                        4
LLMs, MLOps, Basics of backend application development using python, Prompt Engineering                                                                        3
Extracting actionable insights from the raw data, MLOps, Prompt Engineering                                                                                    3
Extracting actionable insights from the raw data, Prompt Engineering                                                                                           3
Data Modelling, LLMs, Basics of backend application development using python, Prompt Engineering                                                               3
Data Modelling, LLMs, MLOps, Basics of backend application development using python                                                                            3
Data Modelling, LLMs                                                                                                                                           3
Extracting actionable insights from the raw data, LLMs, Basics of backend application development using python                                                 3
Extracting actionable insights from the raw data, LLMs, MLOps, Basics of backend application development using python, Prompt Engineering                      2
Data Modelling, LLMs, Prompt Engineering                                                                                                                       2
Extracting actionable insights from the raw data, LLMs                                                                                                         2
Data Modelling, MLOps, Basics of backend application development using python, Prompt Engineering                                                              2
LLMs, Basics of backend application development using python, Prompt Engineering                                                                               2
Extracting actionable insights from the raw data, LLMs, Basics of backend application development using python, Prompt Engineering                             2
Data Modelling, MLOps                                                                                                                                          2
LLMs, Prompt Engineering                                                                                                                                       2
Extracting actionable insights from the raw data, MLOps, Basics of backend application development using python, Prompt Engineering                            2
Extracting actionable insights from the raw data, MLOps, Basics of backend application development using python                                                1
Data Modelling, MLOps, Prompt Engineering                                                                                                                      1
LLMs, Basics of backend application development using python                                                                                                   1
LLMs, MLOps, Basics of backend application development using python                                                                                            1
MLOps, Basics of backend application development using python                                                                                                  1
MLOps, Basics of backend application development using python, Prompt Engineering                                                                              1
MLOps, Prompt Engineering                                                                                                                                      1
Name: count, dtype: int64

In [146]:
data["What do you think are most important skill right now for a skilled Data Scientist?"].index[2]

2

In [150]:
data["What is your current profession?"].value_counts()

Which of the following best describes you?
I am currently enrolled in a Data Science certification course    405
I have never enrolled in any certification courses                302
I have completed a Data Science certification course              293
Name: count, dtype: int64

In [158]:
prompt_engineering_count = (data["What do you think are most important skill right now for a skilled Data Scientist?"] == "Prompt Engineering").sum()

print("Number of interns who selected 'Prompt Engineering' as the most important skill:", prompt_engineering_count)

Number of interns who selected 'Prompt Engineering' as the most important skill: 7

In [164]:
data.columns

Index(['Date of Birth', 'What is your current profession?',
       'What is the year of completion of your Highest Education Qualification?',
       'Which of the following best describes you?',
       'Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.',
       'In case your certification institute is "Innomatics Research Labs", please provide your Enrolled Batch Number.',
       'Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.',
       'What do you think are most important skill right now for a skilled Data Scientist?',
       'Age', 'Birth Month', 'Day of Week'],
      dtype='object')

In [168]:
missing_institute_count = data["Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course."].isna().sum()

print("Number of interns who didn’t mention the name of their Data Science institute:", missing_institute_count)

Number of interns who didn’t mention the name of their Data Science institute: 322

In [174]:
innomatics_count = data[
    data["Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course."]
    .str.contains("Innomatics", case=False, na=False)
].shape[0]

In [176]:
print("Number of interns who mentioned 'Innomatics' as their Data Science institute:", innomatics_count)

Number of interns who mentioned 'Innomatics' as their Data Science institute: 278