In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\suras\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\suras\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\suras\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\suras\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\suras\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\suras\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install numpy

Requirement already satisfied: numpy in c:\users\suras\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [52]:
import zipfile
import os
import pandas as pd
zip_file_path = "C:/Users/suras/Downloads/drive-download-20250109T055326Z-001.zip"
extracted_folder = "C:/Users/suras/Downloads/extracted_files"
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extracted_folder)
print(f"Files extracted to: {extracted_folder}")
csv_files = [os.path.join(extracted_folder, file) for file in os.listdir(extracted_folder) if file.endswith('.csv')]
dataframes = []
def read_csv_with_encoding(file_path):
    encoding = 'utf-8' 
    try:
        return pd.read_csv(file_path, encoding=encoding)
    except UnicodeDecodeError:
        return pd.read_csv(file_path, encoding='latin1')

Files extracted to: C:/Users/suras/Downloads/extracted_files

In [54]:
pip install chardet

Requirement already satisfied: chardet in c:\users\suras\anaconda3\lib\site-packages (4.0.0)
Note: you may need to restart the kernel to use updated packages.

In [56]:
import os
extracted_folder = "C:/Users/suras/Downloads/extracted_files"
all_files = os.listdir(extracted_folder)
csv_files = [file for file in all_files if file.endswith('.csv')]
print(f"Found {len(csv_files)} CSV files:")
for file in csv_files:
    print(file)

Found 64 CSV files:
Akshayanagar.csv
Arekere.csv
Banashankari.csv
Basavanagudi.csv
Basaveshwar Nagar.csv
Begur.csv
Bellandur.csv
Bilekahalli.csv
Bommanahalli.csv
Brookefield.csv
BTM 2nd Stage.csv
BTM_Layout.csv
Chikkalasandra.csv
Doddanekundi.csv
Ejipura.csv
Electronic City.csv
Electronics City Phase 1.csv
Gottigere.csv
HBR Layout.csv
Hebbal.csv
Hongasandra.csv
Hoodi.csv
Horamavu.csv
Hosakerehalli.csv
HSR_Layout.csv
Hulimavu.csv
Indiranagar.csv
Jayanagar.csv
JP Nagar.csv
K.R Puram.csv
Kadugodi.csv
Kaggadasapura.csv
Kalyan Nagar.csv
Kammanahalli.csv
Kasavanahalli.csv
Kengeri Satellite Town.csv
Kengeri.csv
Konanakunte.csv
Koramangala.csv
Krishnarajapura.csv
Kumaraswamy Layout.csv
Lingarajapuram.csv
Mahadevapura.csv
Marathahalli.csv
Mathikere.csv
Munnekollal.csv
Nagarbhavi.csv
Padmanabhanagar.csv
Raja Rajeshwari Nagar.csv
Rajaji Nagar.csv
Ramamurthy Nagar.csv
RR Nagar.csv
RT Nagar.csv
Singasandra.csv
Subramanyapura.csv
Sunkadakatte.csv
Thanisandra.csv
Uttarahalli Hobli.csv
Varthur.csv
Vidyaranyapura.csv
Vijaya Nagar.csv
Whitefield.csv
Yelahanka New Town.csv
Yelahanka.csv

In [58]:
import os
import pandas as pd
import chardet
extracted_folder = "C:/Users/suras/Downloads/extracted_files"
csv_files = [file for file in os.listdir(extracted_folder) if file.endswith('.csv')]
dataframes = []
def detect_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read(100000))  
        return result['encoding']
for file in csv_files:
    file_path = os.path.join(extracted_folder, file)
    try:
        encoding = detect_encoding(file_path)
        df = pd.read_csv(file_path, encoding=encoding)
        dataframes.append(df)
        print(f"Successfully read {file} with encoding {encoding}")
        
    except UnicodeDecodeError as e:
        print(f"UnicodeDecodeError for {file} with encoding {encoding}: {e}")
        print("Attempting to read with 'latin1' encoding...")
        try:
            df = pd.read_csv(file_path, encoding='latin1')
            dataframes.append(df)
            print(f"Successfully read {file} with 'latin1' encoding")
        except Exception as e2:
            print(f"Failed to read {file} even with 'latin1' encoding: {e2}")
    except pd.errors.EmptyDataError:
        print(f"EmptyDataError: {file} is empty and will be skipped.")
    except pd.errors.ParserError as e:
        print(f"ParserError for {file}: {e}")
    except Exception as e:
        print(f"An unexpected error occurred while reading {file}: {e}")
if not dataframes:
    print("No DataFrames were loaded. Please check your CSV files.")
else:
    merged_df = pd.concat(dataframes, ignore_index=True)
    output_path = "C:/Users/suras/Downloads/merged_output.csv"
    merged_df.to_csv(output_path, index=False)
    print(f"Merged CSV file saved as '{output_path}'")

Successfully read Akshayanagar.csv with encoding ascii
Successfully read Arekere.csv with encoding ascii
Successfully read Banashankari.csv with encoding ascii
Successfully read Basavanagudi.csv with encoding ascii
Successfully read Basaveshwar Nagar.csv with encoding ascii
Successfully read Begur.csv with encoding ascii
Successfully read Bellandur.csv with encoding ascii
Successfully read Bilekahalli.csv with encoding ascii
Successfully read Bommanahalli.csv with encoding ascii
Successfully read Brookefield.csv with encoding ascii
Successfully read BTM 2nd Stage.csv with encoding ascii
Successfully read BTM_Layout.csv with encoding ascii
Successfully read Chikkalasandra.csv with encoding ascii
Successfully read Doddanekundi.csv with encoding ascii
Successfully read Ejipura.csv with encoding ascii
Successfully read Electronic City.csv with encoding ascii
Successfully read Electronics City Phase 1.csv with encoding ascii
Successfully read Gottigere.csv with encoding ascii
Successfully read HBR Layout.csv with encoding ascii
Successfully read Hebbal.csv with encoding ascii
Successfully read Hongasandra.csv with encoding ascii
Successfully read Hoodi.csv with encoding ascii
Successfully read Horamavu.csv with encoding ascii
Successfully read Hosakerehalli.csv with encoding ascii
Successfully read HSR_Layout.csv with encoding UTF-32
Successfully read Hulimavu.csv with encoding ascii
Successfully read Indiranagar.csv with encoding ascii
Successfully read Jayanagar.csv with encoding ascii
Successfully read JP Nagar.csv with encoding ascii
Successfully read K.R Puram.csv with encoding ascii
Successfully read Kadugodi.csv with encoding ascii
Successfully read Kaggadasapura.csv with encoding ascii
Successfully read Kalyan Nagar.csv with encoding ascii
Successfully read Kammanahalli.csv with encoding ascii
Successfully read Kasavanahalli.csv with encoding ascii
Successfully read Kengeri Satellite Town.csv with encoding ascii
Successfully read Kengeri.csv with encoding ascii
Successfully read Konanakunte.csv with encoding ascii
Successfully read Koramangala.csv with encoding ascii
Successfully read Krishnarajapura.csv with encoding ascii
Successfully read Kumaraswamy Layout.csv with encoding ascii
Successfully read Lingarajapuram.csv with encoding ascii
Successfully read Mahadevapura.csv with encoding ascii
Successfully read Marathahalli.csv with encoding ascii
Successfully read Mathikere.csv with encoding ascii
Successfully read Munnekollal.csv with encoding ascii
Successfully read Nagarbhavi.csv with encoding ascii
Successfully read Padmanabhanagar.csv with encoding ascii
Successfully read Raja Rajeshwari Nagar.csv with encoding ascii
Successfully read Rajaji Nagar.csv with encoding ascii
Successfully read Ramamurthy Nagar.csv with encoding ascii
Successfully read RR Nagar.csv with encoding ascii
Successfully read RT Nagar.csv with encoding ascii
Successfully read Singasandra.csv with encoding ascii
Successfully read Subramanyapura.csv with encoding ascii
Successfully read Sunkadakatte.csv with encoding ascii
Successfully read Thanisandra.csv with encoding ascii
Successfully read Uttarahalli Hobli.csv with encoding ascii
Successfully read Varthur.csv with encoding ascii
Successfully read Vidyaranyapura.csv with encoding ascii
Successfully read Vijaya Nagar.csv with encoding ascii
Successfully read Whitefield.csv with encoding ascii
Successfully read Yelahanka New Town.csv with encoding ascii
Successfully read Yelahanka.csv with encoding ascii

PermissionError: [Errno 13] Permission denied: 'C:/Users/suras/Downloads/merged_output.csv'

In [60]:
print(f"Final shape of the merged DataFrame: {merged_df.shape}")

Final shape of the merged DataFrame: (14100, 23)

In [62]:
print(merged_df.describe())
print(merged_df.isnull().sum())
import seaborn as sns
import matplotlib.pyplot as plt
sns.histplot(merged_df['column_name'])
plt.show()

           bathroom         floor   total_floor      latitude     longitude  \
count  13435.000000  13435.000000  13416.000000  13435.000000  13435.000000
mean       1.831634      1.852921      3.642665     12.949500     77.604504
std        0.774056      2.489091      3.385582      0.208342      1.162160
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        1.000000      0.000000      2.000000     12.906064     77.564663
50%        2.000000      1.000000      3.000000     12.943637     77.614939
75%        2.000000      2.000000      4.000000     12.997176     77.677067
max       21.000000    123.000000     38.000000     17.418143     80.256293

       property_age  property_size      pin_code          rent       deposit
count  13435.000000   13435.000000  1.331300e+04  13435.000000  1.343500e+04
mean       4.344325     992.357722  5.610532e+05  14610.660737  1.225911e+05
std        6.364126     676.653400  7.623651e+04   8631.177518  1.208666e+05
min        0.000000       0.000000  0.000000e+00   1000.000000  0.000000e+00
25%        0.000000     600.000000  5.600430e+05   8500.000000  5.000000e+04
50%        3.000000     950.000000  5.600670e+05  13000.000000  1.000000e+05
75%        6.000000    1233.500000  5.600780e+05  18000.000000  1.500000e+05
max      457.000000   40000.000000  5.600035e+06  75000.000000  3.000000e+06
property_id                                                                                                                                                                                                      665
type                                                                                                                                                                                                             665
activation_date                                                                                                                                                                                                  665
bathroom                                                                                                                                                                                                         665
floor                                                                                                                                                                                                            665
total_floor                                                                                                                                                                                                      684
furnishing                                                                                                                                                                                                       665
gym                                                                                                                                                                                                              665
latitude                                                                                                                                                                                                         665
longitude                                                                                                                                                                                                        665
lease_type                                                                                                                                                                                                       665
lift                                                                                                                                                                                                             665
locality                                                                                                                                                                                                         889
parking                                                                                                                                                                                                          665
property_age                                                                                                                                                                                                     665
property_size                                                                                                                                                                                                    665
swimming_pool                                                                                                                                                                                                    665
pin_code                                                                                                                                                                                                         787
rent                                                                                                                                                                                                             665
deposit                                                                                                                                                                                                          665
building_type                                                                                                                                                                                                    703
location                                                                                                                                                                                                       13876
property_id/type/activation_date/bathroom/floor/total_floor/furnishing/gym/latitude/longitude/lease_type/lift/locality/parking/property_age/property_size/swimming_pool/pin_code/rent/deposit/building_type    13435
dtype: int64

KeyError: 'column_name'

In [66]:
import os
import pandas as pd
import chardet
extracted_folder = "C:/Users/suras/Downloads/extracted_files"
csv_files = [file for file in os.listdir(extracted_folder) if file.endswith('.csv')]
dataframes = []
def detect_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read(100000))  
        return result['encoding']
for file in csv_files:
    file_path = os.path.join(extracted_folder, file)
    try:
        encoding = detect_encoding(file_path)
        df = pd.read_csv(file_path, encoding=encoding)
        dataframes.append(df)
        print(f"Successfully read {file} with encoding {encoding}")
        
    except UnicodeDecodeError as e:
        print(f"UnicodeDecodeError for {file} with encoding {encoding}: {e}")
        print("Attempting to read with 'latin1' encoding...")
        try:
            df = pd.read_csv(file_path, encoding='latin1')
            dataframes.append(df)
            print(f"Successfully read {file} with 'latin1' encoding")
        except Exception as e2:
            print(f"Failed to read {file} even with 'latin1' encoding: {e2}")
    except pd.errors.EmptyDataError:
        print(f"EmptyDataError: {file} is empty and will be skipped.")
    except pd.errors.ParserError as e:
        print(f"ParserError for {file}: {e}")
    except Exception as e:
        print(f"An unexpected error occurred while reading {file}: {e}")
if not dataframes:
    print("No DataFrames were loaded. Please check your CSV files.")
else:
    merged_df = pd.concat(dataframes, ignore_index=True)
    merged_df.dropna(axis=1, how='all', inplace=True)
    merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]
    print("Final shape of the combined property data:", merged_df.shape)
    output_path = "C:/Users/suras/Downloads/merged_output.csv"
    merged_df.to_csv(output_path, index=False)
    print(f"Merged CSV file saved as '{output_path}'")

Successfully read Akshayanagar.csv with encoding ascii
Successfully read Arekere.csv with encoding ascii
Successfully read Banashankari.csv with encoding ascii
Successfully read Basavanagudi.csv with encoding ascii
Successfully read Basaveshwar Nagar.csv with encoding ascii
Successfully read Begur.csv with encoding ascii
Successfully read Bellandur.csv with encoding ascii
Successfully read Bilekahalli.csv with encoding ascii
Successfully read Bommanahalli.csv with encoding ascii
Successfully read Brookefield.csv with encoding ascii
Successfully read BTM 2nd Stage.csv with encoding ascii
Successfully read BTM_Layout.csv with encoding ascii
Successfully read Chikkalasandra.csv with encoding ascii
Successfully read Doddanekundi.csv with encoding ascii
Successfully read Ejipura.csv with encoding ascii
Successfully read Electronic City.csv with encoding ascii
Successfully read Electronics City Phase 1.csv with encoding ascii
Successfully read Gottigere.csv with encoding ascii
Successfully read HBR Layout.csv with encoding ascii
Successfully read Hebbal.csv with encoding ascii
Successfully read Hongasandra.csv with encoding ascii
Successfully read Hoodi.csv with encoding ascii
Successfully read Horamavu.csv with encoding ascii
Successfully read Hosakerehalli.csv with encoding ascii
Successfully read HSR_Layout.csv with encoding UTF-32
Successfully read Hulimavu.csv with encoding ascii
Successfully read Indiranagar.csv with encoding ascii
Successfully read Jayanagar.csv with encoding ascii
Successfully read JP Nagar.csv with encoding ascii
Successfully read K.R Puram.csv with encoding ascii
Successfully read Kadugodi.csv with encoding ascii
Successfully read Kaggadasapura.csv with encoding ascii
Successfully read Kalyan Nagar.csv with encoding ascii
Successfully read Kammanahalli.csv with encoding ascii
Successfully read Kasavanahalli.csv with encoding ascii
Successfully read Kengeri Satellite Town.csv with encoding ascii
Successfully read Kengeri.csv with encoding ascii
Successfully read Konanakunte.csv with encoding ascii
Successfully read Koramangala.csv with encoding ascii
Successfully read Krishnarajapura.csv with encoding ascii
Successfully read Kumaraswamy Layout.csv with encoding ascii
Successfully read Lingarajapuram.csv with encoding ascii
Successfully read Mahadevapura.csv with encoding ascii
Successfully read Marathahalli.csv with encoding ascii
Successfully read Mathikere.csv with encoding ascii
Successfully read Munnekollal.csv with encoding ascii
Successfully read Nagarbhavi.csv with encoding ascii
Successfully read Padmanabhanagar.csv with encoding ascii
Successfully read Raja Rajeshwari Nagar.csv with encoding ascii
Successfully read Rajaji Nagar.csv with encoding ascii
Successfully read Ramamurthy Nagar.csv with encoding ascii
Successfully read RR Nagar.csv with encoding ascii
Successfully read RT Nagar.csv with encoding ascii
Successfully read Singasandra.csv with encoding ascii
Successfully read Subramanyapura.csv with encoding ascii
Successfully read Sunkadakatte.csv with encoding ascii
Successfully read Thanisandra.csv with encoding ascii
Successfully read Uttarahalli Hobli.csv with encoding ascii
Successfully read Varthur.csv with encoding ascii
Successfully read Vidyaranyapura.csv with encoding ascii
Successfully read Vijaya Nagar.csv with encoding ascii
Successfully read Whitefield.csv with encoding ascii
Successfully read Yelahanka New Town.csv with encoding ascii
Successfully read Yelahanka.csv with encoding ascii
Final shape of the combined property data: (14100, 23)
Merged CSV file saved as 'C:/Users/suras/Downloads/merged_output.csv'

In [68]:
# Check the final shape of the merged DataFrame
print("Final shape of the combined property data:", merged_df.shape)

Final shape of the combined property data: (14100, 23)

In [70]:
erged_df=merged_df.copy()

In [72]:
mmerged_df = erged_df.loc[:, ~erged_df.columns.duplicated()]

In [74]:
mmerged_df

,property_id,type,activation_date,bathroom,floor,total_floor,furnishing,gym,latitude,longitude,...,parking,property_age,property_size,swimming_pool,pin_code,rent,deposit,building_type,location,property_id/type/activation_date/bathroom/floor/total_floor/furnishing/gym/latitude/longitude/lease_type/lift/locality/parking/property_age/property_size/swimming_pool/pin_code/rent/deposit/building_type
0,ff8080814a078fd2014a15c813ff0b03,BHK3,20-02-2017 09:24,3.0,2.0,6.0,SEMI_FURNISHED,1,12.872456,77.617578,...,BOTH,2.0,2000.0,0,560068.0,22000.0,150000.0,AP,NaN,NaN
1,ff8081814c2dea94014c50865ea35904,BHK2,11-03-2017 16:12,2.0,0.0,2.0,SEMI_FURNISHED,0,12.876009,77.617934,...,BOTH,5.0,1250.0,0,560076.0,12500.0,125000.0,IF,NaN,NaN
2,ff8081814cff7251014d04e2cc7018fd,BHK2,18-03-2017 14:26,2.0,2.0,19.0,SEMI_FURNISHED,1,12.875923,77.617946,...,BOTH,2.0,1279.0,1,560068.0,17500.0,175000.0,AP,NaN,NaN
3,ff8081814eb65997014ebbaa22f11869,BHK2,28-03-2017 11:09,2.0,3.0,5.0,SEMI_FURNISHED,1,12.859438,77.614948,...,BOTH,1.0,1200.0,0,560076.0,15000.0,100000.0,AP,NaN,NaN
4,ff8081814fa8748d014fabcabea10bb6,BHK3,14-02-2017 17:07,2.0,1.0,3.0,SEMI_FURNISHED,0,12.875697,77.617187,...,BOTH,1.0,1550.0,0,560076.0,18000.0,100000.0,AP,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14095,ff8081815b15c304015b18b33e467d05,BHK3,29-03-2017 12:30,3.0,6.0,7.0,SEMI_FURNISHED,1,13.114465,77.578528,...,BOTH,6.0,1610.0,0,560064.0,20000.0,200000.0,AP,NaN,NaN
14096,ff8081815b15c304015b18f78f4e2503,BHK2,29-03-2017 13:18,2.0,3.0,3.0,SEMI_FURNISHED,1,13.122433,77.582765,...,BOTH,4.0,1155.0,1,560064.0,15000.0,150000.0,AP,NaN,NaN
14097,ff8081815b15c304015b1a4c67134ce4,BHK3,30-03-2017 14:10,1.0,1.0,14.0,SEMI_FURNISHED,1,13.097357,77.570412,...,BOTH,5.0,1680.0,1,560065.0,8500.0,60000.0,AP,NaN,NaN
14098,ff8081815b15c304015b1df97fb2695f,BHK3,30-03-2017 12:36,2.0,7.0,17.0,SEMI_FURNISHED,0,13.117724,77.577400,...,BOTH,2.0,1326.0,0,560064.0,19000.0,150000.0,AP,NaN,NaN
14099,ff8081815b1e0e51015b1e3ef2b51346,BHK2,30-03-2017 15:23,2.0,0.0,0.0,SEMI_FURNISHED,0,13.103437,77.612229,...,BOTH,0.0,1600.0,0,560064.0,11500.0,100000.0,IH,NaN,NaN

In [76]:
hsr_layout_count = merged_df[merged_df['location'] == 'HSR Layout'].shape[0]
total_properties = merged_df.shape[0]
hsr_layout_percentage = (hsr_layout_count / total_properties) * 100
print(f"Percentage of properties in HSR Layout: {round(hsr_layout_percentage)}%")

Percentage of properties in HSR Layout: 0%

In [78]:
hsr_layout_count = merged_df[merged_df['location'] == 'HSR Layout'].shape[0]
total_properties = merged_df.shape[0]
hsr_layout_percentage = (hsr_layout_count / total_properties) * 100
print(f"Percentage of properties in HSR Layout: {round(hsr_layout_percentage)}%")

Percentage of properties in HSR Layout: 0%

In [80]:
merged_df['location'] = merged_df['location'].str.strip().str.lower()
hsr_layout_count = merged_df[merged_df['location'] == 'hsr layout'].shape[0]
total_properties = merged_df.shape[0]
hsr_layout_percentage = (hsr_layout_count / total_properties) * 100
print(f"Percentage of properties in HSR Layout: {round(hsr_layout_percentage)}%")

Percentage of properties in HSR Layout: 0%

In [84]:
merged_df_clean = merged_df.dropna(subset=['location'])
unique_locations_clean = merged_df_clean['location'].unique()
print(unique_locations_clean)
location_counts = merged_df_clean['location'].value_counts()
print(location_counts)
hsr_layout_count = location_counts.get('HSR Layout', 0)
total_count = len(merged_df_clean)
percentage_hsr_layout = (hsr_layout_count / total_count) * 100
print(f"Percentage of properties in HSR Layout: {round(percentage_hsr_layout)}%")

['bommanahalli']
location
bommanahalli    224
Name: count, dtype: int64
Percentage of properties in HSR Layout: 0%

In [92]:
unique_locations = merged_df_clean['location'].unique()
print(unique_locations)

['bommanahalli']

In [96]:
merged_df

,property_id,type,activation_date,bathroom,floor,total_floor,furnishing,gym,latitude,longitude,...,parking,property_age,property_size,swimming_pool,pin_code,rent,deposit,building_type,location,property_id/type/activation_date/bathroom/floor/total_floor/furnishing/gym/latitude/longitude/lease_type/lift/locality/parking/property_age/property_size/swimming_pool/pin_code/rent/deposit/building_type
0,ff8080814a078fd2014a15c813ff0b03,BHK3,20-02-2017 09:24,3.0,2.0,6.0,SEMI_FURNISHED,1,12.872456,77.617578,...,BOTH,2.0,2000.0,0,560068.0,22000.0,150000.0,AP,NaN,NaN
1,ff8081814c2dea94014c50865ea35904,BHK2,11-03-2017 16:12,2.0,0.0,2.0,SEMI_FURNISHED,0,12.876009,77.617934,...,BOTH,5.0,1250.0,0,560076.0,12500.0,125000.0,IF,NaN,NaN
2,ff8081814cff7251014d04e2cc7018fd,BHK2,18-03-2017 14:26,2.0,2.0,19.0,SEMI_FURNISHED,1,12.875923,77.617946,...,BOTH,2.0,1279.0,1,560068.0,17500.0,175000.0,AP,NaN,NaN
3,ff8081814eb65997014ebbaa22f11869,BHK2,28-03-2017 11:09,2.0,3.0,5.0,SEMI_FURNISHED,1,12.859438,77.614948,...,BOTH,1.0,1200.0,0,560076.0,15000.0,100000.0,AP,NaN,NaN
4,ff8081814fa8748d014fabcabea10bb6,BHK3,14-02-2017 17:07,2.0,1.0,3.0,SEMI_FURNISHED,0,12.875697,77.617187,...,BOTH,1.0,1550.0,0,560076.0,18000.0,100000.0,AP,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14095,ff8081815b15c304015b18b33e467d05,BHK3,29-03-2017 12:30,3.0,6.0,7.0,SEMI_FURNISHED,1,13.114465,77.578528,...,BOTH,6.0,1610.0,0,560064.0,20000.0,200000.0,AP,NaN,NaN
14096,ff8081815b15c304015b18f78f4e2503,BHK2,29-03-2017 13:18,2.0,3.0,3.0,SEMI_FURNISHED,1,13.122433,77.582765,...,BOTH,4.0,1155.0,1,560064.0,15000.0,150000.0,AP,NaN,NaN
14097,ff8081815b15c304015b1a4c67134ce4,BHK3,30-03-2017 14:10,1.0,1.0,14.0,SEMI_FURNISHED,1,13.097357,77.570412,...,BOTH,5.0,1680.0,1,560065.0,8500.0,60000.0,AP,NaN,NaN
14098,ff8081815b15c304015b1df97fb2695f,BHK3,30-03-2017 12:36,2.0,7.0,17.0,SEMI_FURNISHED,0,13.117724,77.577400,...,BOTH,2.0,1326.0,0,560064.0,19000.0,150000.0,AP,NaN,NaN
14099,ff8081815b1e0e51015b1e3ef2b51346,BHK2,30-03-2017 15:23,2.0,0.0,0.0,SEMI_FURNISHED,0,13.103437,77.612229,...,BOTH,0.0,1600.0,0,560064.0,11500.0,100000.0,IH,NaN,NaN

In [98]:
def categorize_age(age):
    if age <= 1:
        return 'New'
    elif 1 < age <= 5:
        return 'Less than 5 years'
    elif 5 < age <= 10:
        return '5 to 10 years'
    elif 10 < age <= 20:
        return '10 to 20 years'
    else:
        return 'More than 20 years'

merged_df['property_age_category'] = merged_df['property_age'].apply(categorize_age)
most_frequent_category = merged_df['property_age_category'].mode()[0]
print(f"Most frequent property age category: {most_frequent_category}")

Most frequent property age category: New

In [102]:
print(merged_df.columns)

Index(['property_id', 'type', 'activation_date', 'bathroom', 'floor',
       'total_floor', 'furnishing', 'gym', 'latitude', 'longitude',
       'lease_type', 'lift', 'locality', 'parking', 'property_age',
       'property_size', 'swimming_pool', 'pin_code', 'rent', 'deposit',
       'building_type', 'location',
       'property_id/type/activation_date/bathroom/floor/total_floor/furnishing/gym/latitude/longitude/lease_type/lift/locality/parking/property_age/property_size/swimming_pool/pin_code/rent/deposit/building_type',
       'property_age_category'],
      dtype='object')

In [106]:
avg_rent_by_type = merged_df.groupby('type')['rent'].mean()
highest_avg_rent_type = avg_rent_by_type.idxmax()
print(f"Apartment type with highest average rent: {highest_avg_rent_type}")

Apartment type with highest average rent: BHK4PLUS

In [114]:
# Convert 'True'/'False' string values to 1/0
merged_df['gym'] = merged_df['gym'].replace({'True': 1, 'False': 0})
merged_df['lift'] = merged_df['lift'].replace({'True': 1, 'False': 0})
merged_df['swimming_pool'] = merged_df['swimming_pool'].replace({'True': 1, 'False': 0})

In [120]:
merged_df['gym'] = merged_df['gym'].replace({'True': 1, 'False': 0, 'Flase': 0})
merged_df['lift'] = merged_df['lift'].replace({'True': 1, 'False': 0, 'Flase': 0})
merged_df['swimming_pool'] = merged_df['swimming_pool'].replace({'True': 1, 'False': 0, 'Flase': 0})
print(merged_df[['gym', 'lift', 'swimming_pool']].head())

   gym  lift  swimming_pool
0  1.0   1.0            0.0
1  0.0   0.0            0.0
2  1.0   1.0            1.0
3  1.0   1.0            0.0
4  0.0   1.0            0.0

C:\Users\suras\AppData\Local\Temp\ipykernel_5292\3986579856.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df['gym'] = merged_df['gym'].replace({'True': 1, 'False': 0, 'Flase': 0})
C:\Users\suras\AppData\Local\Temp\ipykernel_5292\3986579856.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df['lift'] = merged_df['lift'].replace({'True': 1, 'False': 0, 'Flase': 0})
C:\Users\suras\AppData\Local\Temp\ipykernel_5292\3986579856.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df['swimming_pool'] = merged_df['swimming_pool'].replace({'True': 1, 'False': 0, 'Flase': 0})

In [122]:
# Create a correlation matrix for the amenities and rent
amenities_columns = ['gym', 'lift', 'swimming_pool']
correlations = merged_df[amenities_columns].corrwith(merged_df['rent'])

# Print the correlation values
print("Correlation between amenities and rent:")
print(correlations)

Correlation between amenities and rent:
gym              0.393666
lift             0.416619
swimming_pool    0.396103
dtype: float64

In [136]:
average_rent_by_locality = merged_df.groupby('locality')['rent'].mean()
top_5_localities = average_rent_by_locality.nlargest(5).index
top_localities_df = merged_df[merged_df['locality'].isin(top_5_localities)]
top_localities_df['interaction_metric'] = (
    top_localities_df['gym'].fillna(0) +
    top_localities_df['lift'].fillna(0) +
    top_localities_df['swimming_pool'].fillna(0)
)
highest_interaction_count = top_localities_df['interaction_metric'].max()
property_with_highest_interactions = top_localities_df[top_localities_df['interaction_metric'] == highest_interaction_count]
print(f"Highest interaction count: {highest_interaction_count}")
print("Property details with the highest interaction count:")
print(property_with_highest_interactions[['locality', 'property_id', 'interaction_metric']])

Highest interaction count: 3.0
Property details with the highest interaction count:
         locality                       property_id  interaction_metric
1248    Bellandur  ff808081482565740148261980670079                 3.0
1249    Bellandur  ff80808149b8764a0149bda1f264039d                 3.0
1260    Bellandur  ff8081815185752901518661318b1371                 3.0
1263    Bellandur  ff80818152ab65b30152c00804863884                 3.0
1266    Bellandur  ff808181534744b101534aad00d418a9                 3.0
...           ...                               ...                 ...
13546  Whitefield  ff8081815b0aa1c2015b0e78277070cf                 3.0
13548  Whitefield  ff8081815b0f86d4015b0fb2b3ff1581                 3.0
13549  Whitefield  ff8081815b0f86d4015b0fb54da016d4                 3.0
13553  Whitefield  ff8081815b106986015b13afad3d7256                 3.0
13559  Whitefield  ff8081815b15c304015b18d7f88f1270                 3.0

[510 rows x 3 columns]

C:\Users\suras\AppData\Local\Temp\ipykernel_5292\1851027579.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_localities_df['interaction_metric'] = (

In [157]:
anyone_lease_properties = merged_df[merged_df['lease_type'] == 'Anyone']
total_properties = len(merged_df)  
anyone_lease_count = len(anyone_lease_properties)
percentage_anyone_lease = (anyone_lease_count / total_properties) * 100
print(f"Percentage of properties available for lease under the 'Anyone' category: {percentage_anyone_lease:.0f}%")

Percentage of properties available for lease under the 'Anyone' category: 0%

In [161]:
# Step 1: Convert 'activation_date' to datetime format if it's not already
merged_df['activation_date'] = pd.to_datetime(merged_df['activation_date'])

# Step 2: Count the number of properties activated on each date
activation_counts = merged_df['activation_date'].value_counts()

# Step 3: Get the date with the most properties activated
most_activated_date = activation_counts.idxmax()

# Step 4: Print the result
print(f"The date with the most properties activated: {most_activated_date}")

The date with the most properties activated: 2017-03-02 19:23:00

C:\Users\suras\AppData\Local\Temp\ipykernel_5292\4033507672.py:2: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  merged_df['activation_date'] = pd.to_datetime(merged_df['activation_date'])

In [163]:
import pandas as pd
merged_df['activation_date'] = pd.to_datetime(merged_df['activation_date'])
def categorize_time(hour):
    if 0 <= hour < 6:
        return 'Midnight'
    elif 6 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 18:
        return 'Afternoon'
    else:
        return 'Evening'

# Apply the function to create the new column
merged_df['time_category'] = merged_df['activation_date'].dt.hour.apply(categorize_time)

# Identify the most frequent time category
most_frequent_time_category = merged_df['time_category'].mode()[0]

# Display the result
print(f"The most frequent time category is: {most_frequent_time_category}")

The most frequent time category is: Afternoon

In [168]:
unique_locations_count = merged_df['location'].nunique
print(f"Number of unique locations: {unique_locations_count}")

Number of unique locations: 1